/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: #CDD3CA;
}

.color-2 {
    background: #FFCC99;
}
.color-3 {
    background: #BDC1C6;
}

.color-4 {
    background: #FAABAE;
}

.color-5 {
    background: #E0D8CA;
}

/* Textures or Patterns*/

.pattern-1 {
    
    background: url(../img/Floral.jpg)
}

.pattern-2 {
    
    background: url(../img/Chevron.png)
}

.pattern-3 {
    
    background: url(../img/Greenish.jpg)
}

.pattern-4 {
    
    background: url(../img/Cream.jpg)
}

.pattern-5 {
    
    background: url(../img/Marble.jpg)
}

/* Imagery */


/* Icons */


/* Navigation */

a:link,
a:visited{
    color: #FAABAE;
    text-decoration: none;
}

a:hover{
    color: #BDC1C6;
    margin-left: 0;
}

a:active{
    color: #FFCC99;
    background: none;
}

button {
    background: #BDC1C6;
    border: none; 
}

/* Typography */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

p{
font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}

h2 {
    color: #BDC1C6;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h3{
    color: #CDD3CA;
    font-family: 'Raleway', sans-serif;
    border: none;
    text-transform: uppercase;
}
