/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: #CDD3CA;
}

.color-2 {
    background: #9EBBE8;
}
.color-3 {
    background: #BDC1C6;
}

.color-4 {
    background: #FAABAE;
}

.color-5 {
    background: #E0D8CA;
}

/* Textures or Patterns*/

.pattern-1 {
    
    background: url(../img/Floral.jpg)
}

.pattern-2 {
    
    background: url(../img/Chevron.png)
}

.pattern-3 {
    
    background: url(../img/Greenish.jpg)
}

.pattern-4 {
    
    background: url(../img/Marble.jpg)
}

.pattern-5 {
    
    background: url(../img/Cream.jpg)
}

/* Imagery */


/* Icons */


/* Navigation */

a:link,
a:visited{
    color: blue;
    text-transform: uppercase;
}

a:hover{
    background: red;
    margin-left: 20px;
}

a:active{
    color: white;
    background: blue;
}

/* Typography */

p{
    
font-family: 'Open Sans Condensed', sans-serif;
}
