/* HEAD AND BODY */

.nav {
    margin-bottom: 100px;
    font-family: 'PT Sans Narrow';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

/* Navigation End */

h1 {
    margin: 0px;
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 5em;
  }

h2{
    padding-left: 100px;
}

body {
  background: white;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
}


.background,
.objective {
    background: none;
    padding-left: 75px;
    margin: 50px;
    max-width: 700px;
 
}

img {
    
    text-overflow: inherit;
    height: 525px;
    width: 350px;
    margin: 0 30px 10px 0;
    float: left;
}


/* FONTS 

For signature font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');




/* LINKS */


a:link,
a:visited{
    color: #FAABAE;
    text-decoration: none;
}
a:hover{
    color: #BDC1C6;
    margin-left: 0;
}
a:active{
    color: #FFCC99;
    background: none;
}

button {
    background: #BDC1C6;
    border: none; 
}